# Assignment 1 
## Group name: ID2214-14
### Project members: 

Edoardo Francesco Amedeo de Cal, efadc@kth.se

Annysia Glynis Sazon Dupaya, dupaya@kth.se

Sofie Schnitzer, sofiesch@kth.se

### Declaration:
By submitting this assignment, it is hereby declared that all group members listed above have contributed to the solution, either with code that appear in the final solution below, or with code that has been evaluated and compared to the final solution, but for some reason has been excluded. It is also declared that all project members fully understand all parts of the final solution and can explain it upon request.

It is furthermore declared that the code below is a contribution by the project members only, and specifically that no part of the solution has been copied from any other source (except for lecture slides at the course ID2214/FID3214), no part of the solution has been provided by someone not listed as a project member above, and no part of the solution has been generated by a system.

It is furthermore declared that the submitted assignment will not be shared during the course, with any individual other than the group members listed above and teachers of the course ID2214/FID3214. In particular, the assignment will not be uploaded to any public repository. The submitted assignment can be shared after the course only if written consent has been provided by the course responsible of ID2214/FID3214.

It is furthermore declared that it has been understood that no other library/package than the Python 3 standard library, NumPy and pandas may be used in the solution for this assignment.

### Instructions
All parts of the assignment starting with number 1 below are mandatory. Satisfactory solutions
will give 1 point (in total). If they in addition are good (all parts work more or less 
as they should), completed on time (submitted before the deadline in Canvas) and according
to the instructions, together with satisfactory solutions of all parts of the assignment starting 
with number 2 below, then the assignment will receive 2 points (in total).

Note that you do not have to develop the code directly within the notebook
but may instead copy the comments and test cases to a more convenient development environment
and when everything works as expected, you may paste your functions into this
notebook, do a final testing (all cells should succeed), save the notebook including the output
and submit the whole notebook (a single file) in Canvas (do not forget to fill in your group number
and names above).

## Load NumPy and pandas

In [3]:
import sys, numpy as np, pandas as pd
print(sys.executable)
print(np.__version__, pd.__version__)

/Users/sofieschnitzer/nlp-tf-env/bin/python
2.3.4 2.3.3

In [4]:
import numpy as np
import pandas as pd

In [5]:
from platform import python_version

print(f"Python version: {python_version()}")
print(f"NumPy version: {np.__version__}")
print(f"Pandas version: {pd.__version__}")

Python version: 3.13.0
NumPy version: 2.3.4
Pandas version: 2.3.3

## 1a. Create and apply column filter

In [6]:
# Insert the functions create_column_filter and apply_column_filter below (after the comments)
#
# Input to create_column_filter:
# df - a dataframe (where the column names "CLASS" and "ID" have special meaning)
#
# Output from create_filter:
# df            - a new dataframe, where columns, except "CLASS" and "ID", containing only missing values 
#                 or only one unique value (apart from the missing values) have been dropped
# column_filter - a list of the names of the remaining columns, including "CLASS" and "ID"
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Iterate through all columns and consider to drop a column only if it is not labeled "CLASS" or "ID"
#
# Hint 3: You may check the number of unique (non-missing) values in a column by applying the pandas functions
#         dropna and unique to drop missing values and get the unique (remaining) values
#
# Input to apply_column_filter:
# df            - a dataframe
# column_filter - a list of the names of the columns to keep (see above)
#
# Output from apply_column_filter:
# df - a new dataframe, where each column that is not included in column_filter has been dropped
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)

def create_column_filter(df):
    new_df = df.copy()
    marked = []
    column_names = new_df.columns.values

    for col_name in column_names:
        if col_name != 'CLASS' and col_name != 'ID':

            unique_vals = pd.unique(new_df[col_name])
            # if only missing vals or only one unique value (apart from missing values)
            if len(unique_vals) == 1 or (len(unique_vals) == 2 and np.isnan(unique_vals).any()): # only one unique value
                marked.append(col_name)

    column_filter = list(filter(lambda x: x in marked , column_names)) # keeps only column names that are in marked 

    filtered_df = new_df.drop(columns=column_filter)
    return filtered_df, marked


def apply_column_filter(df, column_filter):
    new_df = df.copy()
    filtered_df = new_df.drop(columns=column_filter)
    return filtered_df

df = pd.DataFrame({"CLASS":[1,0,1,0,1],"A":[1,2,np.nan,4,5],"B":[1,1,1,1,np.nan],"C":["h","h",np.nan,"i","h"],"D":[np.nan,np.nan,np.nan,np.nan,np.nan]})

In [7]:
# Test your code (leave this part unchanged)

df = pd.DataFrame({"CLASS":[1,0,1,0,1],"A":[1,2,np.nan,4,5],"B":[1,1,1,1,np.nan],"C":["h","h",np.nan,"i","h"],"D":[np.nan,np.nan,np.nan,np.nan,np.nan]})

filtered_df, column_filter = create_column_filter(df)

new_df = pd.DataFrame({"CLASS":[1,0,0],"A":[4,5,6],"B":[1,2,1],"C":[np.nan,np.nan,np.nan],"D":[np.nan,4,5]})

filtered_new_df = apply_column_filter(new_df,column_filter)

display("df",df)
display("filtered_df",filtered_df)
display("new_df",new_df)
display("filtered_new_df",filtered_new_df)

'df'

   CLASS    A    B    C   D
0      1  1.0  1.0    h NaN
1      0  2.0  1.0    h NaN
2      1  NaN  1.0  NaN NaN
3      0  4.0  1.0    i NaN
4      1  5.0  NaN    h NaN

'filtered_df'

   CLASS    A    C
0      1  1.0    h
1      0  2.0    h
2      1  NaN  NaN
3      0  4.0    i
4      1  5.0    h

'new_df'

   CLASS  A  B   C    D
0      1  4  1 NaN  NaN
1      0  5  2 NaN  4.0
2      0  6  1 NaN  5.0

'filtered_new_df'

   CLASS  A   C
0      1  4 NaN
1      0  5 NaN
2      0  6 NaN

## 1b. Create and apply normalization

In [28]:
# Insert the functions create_normalization and apply_normalization below (after the comments)
#
# Input to create_normalization:
# df: a dataframe (where the column names "CLASS" and "ID" have special meaning)
# normalizationtype: "minmax" (default) or "zscore"
#
# Output from create_normalization:
# df            - a new dataframe, where each numeric value in a column has been replaced by a normalized value
# normalization - a mapping (dictionary) from each column name to a triple, consisting of
#                ("minmax",min_value,max_value) or ("zscore",mean,std)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID"),
#         the other columns should remain unchanged
#
# Hint 3: Take a close look at the lecture slides on data preparation
#
# Input to apply_normalization:
# df            - a dataframe
# normalization - a mapping (dictionary) from column names to triples (see above)
#
# Output from apply_normalization:
# df - a new dataframe, where each numerical value has been normalized according to the mapping
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: For minmax-normalization, you may consider to limit the output range to [0,1]

# create a normalization on the training data, and return the normalized datafram and the normalization parameters for future data
def create_normalization(df, normalizationtype): 
    new_df = df.copy() 
    normalization = {}

    for col in df.columns: 
        if col in ["ID", "CLASS"]:
            continue # these classes are not to be included in normalization

        if np.issubdtype(df[col].dtype, np.floating) or np.issubdtype(df[col].dtype, np.integer): # check if data in col is of type int or float before normalizing
            if normalizationtype == "minmax": 
                col_min = float(df[col].min()) 
                col_max = float(df[col].max())

                if col_max > col_min: # avoid div by 0
                    # this will be applied to all rows in this column of the df since its a pandas series
                    new_df[col] = (df[col] - col_min) / (col_max - col_min)
                    # new_df[col] = ((x-col_min)/(col_max - col_min) for x in df[col]) --> from the lectures but this did not work for me

                normalization[col] = ("minmax", col_min, col_max)

            if normalizationtype == "zscore":
                mean = float(df[col].mean())
                std = float(df[col].std()) # standard deviation

                if std != 0 :
                    new_df[col] = (df[col] - mean) / std 
                    # new_df[col] = df[col].apply(lambda x: (x - mean)/std) --> from the lectures but this did not work for me
            
                normalization[col] = ("zscore", mean, std)

    return new_df, normalization # normalized copy of the training data 


# any dataframe (with the same columns) can now use the normalization parameters to normalize the data
def apply_normalization(df, normalization) : 
    new_df = df.copy();
    # for each column we take the normalization type, the first value (ex min) and second value (ex max) and loop over all columns
    for col, (norm_type, a, b) in normalization.items() : 
        if col not in new_df.columns: 
            continue
        if norm_type == "minmax" : 
            col_min = a;
            col_max = b;
            if col_max > col_min : 
                new_df[col] = (df[col] - col_min) / (col_max - col_min)
                new_df[col] = new_df[col].clip(0,1) # limiting output range to 0 , 1 
        if norm_type == "zscore" :
            mean = a;
            std = b;
            if std != 0: 
                new_df[col] = (df[col] - mean) / std
            
    return new_df

In [29]:
# Test your code (leave this part unchanged)

glass_train_df = pd.read_csv("glass_train.csv")

glass_test_df = pd.read_csv("glass_test.csv")

glass_train_norm, normalization = create_normalization(glass_train_df,normalizationtype="zscore")
print("normalization:\n")
for f in normalization:
    print("{}:{}".format(f,normalization[f]))

print()
    
glass_test_norm = apply_normalization(glass_test_df,normalization)
display("glass_test_norm",glass_test_norm)

normalization:

RI:('zscore', 1.518123551401869, 0.0028672168651112232)
Na:('zscore', 13.45981308411215, 0.8892682823200198)
Mg:('zscore', 2.4488785046728974, 1.543675060576804)
Al:('zscore', 1.5069158878504674, 0.5090453722131358)
Si:('zscore', 72.66504672897196, 0.793964703639898)
K:('zscore', 0.5295327102803739, 0.8716200305715377)
Ca:('zscore', 8.997102803738317, 1.3330076712441825)
Ba:('zscore', 0.20794392523364486, 0.5266586347727279)
Fe:('zscore', 0.05869158878504673, 0.10187935995670466)

'glass_test_norm'

,ID,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,CLASS
0,101,-0.548808,-0.798199,0.259848,-0.131454,0.761940,0.046428,-0.155365,-0.185972,1.583328,2
1,104,3.183034,0.382547,0.454190,-1.663734,-2.638715,-0.515744,1.982657,-0.394836,-0.576089,2
2,44,1.386867,0.303831,0.901175,-1.545866,-1.139908,-0.412488,0.557309,-0.394836,-0.576089,1
3,17,-0.098894,-0.876915,0.791048,-0.681503,0.560419,0.092319,-0.222882,-0.394836,-0.576089,1
4,81,-0.768533,-0.674502,0.693878,1.204380,-0.006356,0.184102,-0.770515,-0.394836,-0.576089,2
...,...,...,...,...,...,...,...,...,...,...,...
102,80,-0.775509,-0.719483,0.693878,0.772199,0.245544,0.184102,-0.770515,-0.394836,-0.576089,2
103,141,-0.426738,-0.145977,0.706834,0.202505,-0.157497,0.172629,-0.665490,-0.394836,-0.576089,2
104,14,-0.224452,-0.674502,0.719790,-0.465412,0.686370,0.012009,-0.462940,-0.394836,1.092551,1
105,132,2.795899,0.270095,-1.586395,-0.288611,-1.794849,-0.389542,3.332987,-0.394836,0.405464,2
106,102,-0.287230,-1.248007,0.175634,0.241794,0.258139,0.195575,0.174716,-0.394836,-0.576089,2

### Comment on assumptions, things that do not work properly, etc.

## 1c. Create and apply imputation

In [10]:
# Insert the functions create_imputation and apply_imputation below (after the comments)
#
# Input to create_imputation:
# df: a dataframe (where the column names "CLASS" and "ID" have special meaning)
#
# Output from create_imputation:
# df         - a new dataframe, where each missing numeric value in a column has been replaced by the mean of that column 
#              and each missing categoric value in a column has been replaced by the mode of that column
# imputation - a mapping (dictionary) from column name to value that has replaced missing values
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Handle columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID") in one way
#         and columns of type "object" and "category" in other ways
#
# Hint 3: Consider using the pandas functions mean and mode respectively, as well as fillna
#
# Hint 4: In the rare case of all values in a column being missing*, replace numeric values with 0,
#         object values with "" and category values with the first category (cat.categories[0])  
#
#         *Note that this will not occur if the previous column filter function has been applied
#
# Input to apply_imputation:
# df         - a dataframe
# imputation - a mapping (dictionary) from column name to value that should replace missing values
#
# Output from apply_imputation:
# df - a new dataframe, where each missing value has been replaced according to the mapping
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider using fillna

def create_imputation(df):
    
    new_df = df.copy(deep=True)
    special_columns = {"ID", "CLASS"}
    imputation = {}

    for col in new_df.columns:

        if col in special_columns:
            continue

        t = new_df[col]

        # Handle categorical columns
        if str(t.dtype) == "category":
            if t.notna().any():
                m = t.mode(dropna=True)
                if len(m) > 0:
                    val = m.iloc[0]
            else:
                val = t.cat.categories[0] if len(t.cat.categories) > 0 else ""

            if val not in t.cat.categories:
                new_df[col] = new_df[col].cat.add_categories([val])

            imputation[col] = val
            new_df[col] = new_df[col].fillna(val)

        # Handle numeric columns
        if pd.api.types.is_numeric_dtype(t):
            mean_val = t.mean(skipna=True)
            if pd.isna(mean_val):
                mean_val = 0
            imputation[col] = mean_val
            new_df[col] = t.fillna(mean_val)

        # Handle object (string) columns
        if t.dtype == object:
            if t.notna().any():
                m = t.mode(dropna=True)
                val = m.iloc[0] if len(m) > 0 else ""
            else:
                val = ""
            imputation[col] = val
            new_df[col] = t.fillna(val)

    return new_df, imputation
    



def apply_imputation(df, imputation):

    new_df = df.copy(deep=True)

    for col, val in imputation.items():
        if col not in new_df.columns:
            continue

        t=new_df[col]

        if str(t.dtype) == "category":
            if val not in t.cat.categories:
                new_df[col] = t.cat.add_categories([val])

        new_df[col] = new_df[col].fillna(val)

    return new_df

In [11]:
# Test your code (leave this part unchanged)

anneal_train_df = pd.read_csv("anneal_train.csv")
anneal_test_df = pd.read_csv("anneal_test.csv")

anneal_train_imp, imputation = create_imputation(anneal_train_df)
anneal_test_imp = apply_imputation(anneal_test_df,imputation)

print("Imputation:\n")
for f in imputation:
    print("{}:{}".format(f,imputation[f]))

print("\nNo. of replaced missing values in training data:\n{}".format(anneal_train_imp.count()-anneal_train_df.count()))
print("\nNo. of replaced missing values in test data:\n{}".format(anneal_test_imp.count()-anneal_test_df.count()))

Imputation:

family:TN
product-type:C
steel:A
carbon:3.859688195991091
hardness:13.084632516703786
temper_rolling:T
condition:S
formability:2.2517482517482517
strength:26.302895322939868
non-ageing:N
surface-finish:P
surface-quality:E
enamelability:1.7142857142857142
bc:Y
bf:Y
bt:Y
bw/me:B
bl:Y
m:0
chrom:C
phos:P
cbond:Y
marvi:0
exptl:0
ferro:Y
corr:0
blue-bright-varn-clean:B
lustre:Y
jurofm:0
s:0
p:0
shape:SHEET
thick:1.1911937639198218
width:769.4917594654788
len:1229.293986636971
oil:Y
bore:35.18930957683742
packing:3.0

No. of replaced missing values in training data:
family                    382
product-type                0
steel                      43
carbon                      0
hardness                    0
temper_rolling            374
condition                 160
formability               163
strength                    0
non-ageing                391
surface-finish            444
surface-quality           128
enamelability             442
bc                        448
bf                        401
bt                        411
bw/me                     349
bl                        377
m                         449
chrom                     432
phos                      447
cbond                     408
marvi                     449
exptl                     449
ferro                     433
corr                      449
blue-bright-varn-clean    445
lustre                    425
jurofm                    449
s                         449
p                         449
shape                       0
thick                       0
width                       0
len                         0
oil                       414
bore                        0
packing                   445
CLASS                       0
dtype: int64

No. of replaced missing values in test data:
family                    390
product-type                0
steel                      43
carbon                      0
hardness                    0
temper_rolling            387
condition                 143
formability               155
strength                    0
non-ageing                402
surface-finish            445
surface-quality           116
enamelability             440
bc                        449
bf                        368
bt                        413
bw/me                     338
bl                        372
m                         449
chrom                     440
phos                      444
cbond                     416
marvi                     449
exptl                     447
ferro                     435
corr                      449
blue-bright-varn-clean    447
lustre                    422
jurofm                    449
s                         449
p                         449
shape                       0
thick                       0
width                       0
len                         0
oil                       420
bore                        0
packing                   444
CLASS                       0
dtype: int64

### Comment on assumptions, things that do not work properly, etc.

## 1d. Create and apply discretization

In [12]:
# Insert the functions create_bins and apply_bins below
#
# Input to create_bins:
# df      - a dataframe
# nobins  - no. of bins (default = 10)
# bintype - either "equal-width" (default) or "equal-size" 
#
# Output from create_bins:
# df      - a new dataframe, where each numeric feature value has been replaced by a categoric (corresponding to some bin)
# binning - a mapping (dictionary) from column name to bins (threshold values for the bin)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Discretize columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID")
#
# Hint 3: Consider using pd.cut and pd.qcut respectively, with labels=False and retbins=True
#
# Hint 4: Set all columns in the new dataframe to be of type "category"
#
# Hint 5: Set the categories of the discretized features to be [0,...,nobins-1]
#
# Hint 6: Change the first and the last element of each binning to -np.inf and np.inf respectively 
#
# Input to apply_bins:
# df      - a dataframe
# binning - a mapping (dictionary) from column name to bins (threshold values for the bin)
#
# Output from apply_bins:
# df - a new dataframe, where each numeric feature value has been replaced by a categoric (corresponding to some bin)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider using pd.cut 
#
# Hint 3: Set all columns in the new dataframe to be of type "category"
#
# Hint 4: Set the categories of the discretized features to be [0,...,nobins-1]


def create_bins(df, nobins=10, bintype="equal-width"):
    new_df = df.copy()
    binning = {}
    dtypes = new_df.dtypes.to_dict()
    for col_name, col_type in dtypes.items():
        # case if numerical and not class/id
        if col_name not in ("CLASS", "ID") and col_type in (float, int):
            if bintype=="equal-width":
                res, bins = pd.cut(new_df[col_name], bins=nobins, retbins=True, labels=False, duplicates="drop")
            else:
                res, bins = pd.qcut(new_df[col_name], nobins, retbins=True, labels=False, duplicates="drop")
            
            # Set the categories of the discretized features to be [0,...,nobins-1]
            categories = list(range(0, nobins))

            # Change the first and the last element of each binning to -np.inf and np.inf respectively 
            bins[0] = -np.inf
            bins[-1] = np.inf
            binning[col_name] = bins

            new_df[col_name] = pd.Categorical(res, categories=categories)
        else:
            # else, we just want them to be made to type category
            new_df[col_name] = new_df[col_name].astype("category")

    return new_df, binning

def apply_bins(df, binning):
    new_df = df.copy()

    column_names = new_df.columns.values
    bin_col_names = binning.keys()
    # for col_name, bins in binning.items():
    for col_name in column_names:
        if col_name in bin_col_names:
            bins = binning[col_name]
            new_res = pd.cut(new_df[col_name], bins=bins, labels=False, include_lowest=True)
            # Set the categories of the discretized features to be [0,...,nobins-1]
            categories = list(range(0, len(bins)-1))
            new_df[col_name] = pd.Categorical(new_res, categories=categories)
        else:
            # Set all columns in the new dataframe to be of type "category"
            new_df[col_name] = new_df[col_name].astype("category")
    return new_df

In [13]:
# Test your code  (leave this part unchanged)

glass_train_df = pd.read_csv("glass_train.csv")

glass_test_df = pd.read_csv("glass_test.csv")

glass_train_disc, binning = create_bins(glass_train_df,nobins=10,bintype="equal-size")
print("binning:")
for f in binning:
    print("{}:{}".format(f,binning[f]))

print()    
glass_test_disc = apply_bins(glass_test_df,binning)
display("glass_test_disc",glass_test_disc)

binning:
RI:[    -inf 1.515896 1.51618  1.516516 1.516866 1.51753  1.517902 1.518618
 1.520114 1.521846      inf]
Na:[  -inf 12.73  12.872 13.    13.222 13.38  13.492 13.794 14.198 14.82
    inf]
Mg:[ -inf 1.82  3.188 3.41  3.476 3.55  3.61  3.728   inf]
Al:[ -inf 0.906 1.172 1.23  1.348 1.48  1.54  1.622 1.808 2.094   inf]
Si:[  -inf 71.756 72.196 72.388 72.72  72.79  72.966 73.06  73.208 73.372
    inf]
K:[ -inf 0.006 0.148 0.39  0.54  0.576 0.6   0.636 0.67    inf]
Ca:[  -inf  7.978  8.112  8.338  8.554  8.67   8.81   9.032  9.674 10.924
    inf]
Ba:[-inf 0.78  inf]
Fe:[ -inf 0.062 0.118 0.24    inf]

'glass_test_disc'

      ID RI Na Mg Al Si  K Ca Ba Fe CLASS
0    101  3  1  1  4  8  4  5  0  2     2
1    104  9  7  1  0  0  1  9  0  0     2
2     44  9  6  7  0  1  2  8  0  0     1
3     17  5  0  6  1  7  6  5  0  0     1
4     81  1  1  4  9  3  8  0  0  0     2
..   ... .. .. .. .. .. .. .. .. ..   ...
102   80  1  1  4  8  5  8  0  0  0     2
103  141  4  4  4  6  3  8  1  0  0     2
104   14  4  1  5  3  8  3  3  0  2     1
105  132  9  6  0  4  0  2  9  0  1     2
106  102  4  0  1  7  5  8  7  0  0     2

[107 rows x 11 columns]

### Comment on assumptions, things that do not work properly, etc.

Need to use `include_lowest=True` when using pd.cut() in apply_bins() because it does not include the first interval by default

## 1e. Create and apply one-hot encoding

In [14]:
# Insert the functions create_one_hot and apply_one_hot below
#
# Input to create_one_hot:
# df: a dataframe
#
# Output from create_one_hot:
# df      - a new dataframe, where each categoric feature has been replaced by a set of binary features 
#           (as many new features as there are possible values)
# one_hot - a mapping (dictionary) from column name to a set of categories (possible values for the feature)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider columns of type "object" or "category" only (and which are not labeled "CLASS" or "ID")
#
# Hint 3: Consider creating new column names by merging the original column name and the categorical value
#
# Hint 4: Set all new columns to be of type "float"
#
# Hint 5: Do not forget to remove the original categoric feature
#
# Input to apply_one_hot:
# df      - a dataframe
# one_hot - a mapping (dictionary) from column name to categories
#
# Output from apply_one_hot:
# df - a new dataframe, where each categoric feature has been replaced by a set of binary features
#
# Hint: See the above Hints

# note: one hot encodings are only done to categorical columns (category or object), and this is because these have a y/n value (can be binarily coded)
# so this is the reason that we are not looking at these col's

def create_one_hot(df):
    new_df = df.copy()
    one_hot = {}

    for col in df.columns : 
        if col in ["ID", "CLASS"]:
            continue 
        
        if df[col].dtype == "object" or pd.api.types.is_categorical_dtype(df[col]): # (hint 2) check for obj and category columns
            
            categories = sorted(df[col].dropna().unique()) # list categories in this col --> then 
            one_hot[col] = categories # save these categories to the one_hot array (will include x, o, b for each old column (probably))

            dummies = pd.get_dummies(df[col], prefix=col, dtype=float) # create new binary columns for each category

            new_df = new_df.drop(columns=[col]) # Drop the original column now that we have the encoded ones
            new_df = new_df.join(dummies) # and then add the dummy columns
    
    return new_df, one_hot


def apply_one_hot(df, one_hot) : 
    new_df = df.copy()

    for col, categories in one_hot.items() :
        for cat in categories : 
            new_col = f"{col}_{cat}" # new name of of column name and categoarial value (hint 3)
            new_df[new_col] = (new_df[col] == cat).astype(float) # new columns as type float (hint 4)

        new_df = new_df.drop(columns=[col]) # drop the original column when we don't need it anymore

    return new_df

In [15]:
# Test your code  (leave this part unchanged)

train_df = pd.read_csv("tic-tac-toe_train.csv")

new_train, one_hot = create_one_hot(train_df)

test_df = pd.read_csv("tic-tac-toe_test.csv")

new_test_df = apply_one_hot(test_df,one_hot)
display("new_test_df",new_test_df)

'new_test_df'

,CLASS,top-left-square_b,top-left-square_o,top-left-square_x,top-middle-square_b,top-middle-square_o,top-middle-square_x,top-right-square_b,top-right-square_o,top-right-square_x,...,middle-right-square_x,bottom-left-square_b,bottom-left-square_o,bottom-left-square_x,bottom-middle-square_b,bottom-middle-square_o,bottom-middle-square_x,bottom-right-square_b,bottom-right-square_o,bottom-right-square_x
0,positive,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,positive,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,positive,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,negative,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
4,positive,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,positive,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
475,negative,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
476,positive,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
477,positive,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
478,negative,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

### Comment on assumptions, things that do not work properly, etc.

## 1f. Divide a dataset into a training and a test set

In [16]:
# Insert the function split below
#
# Input to split:
# df           - a dataframe
# testfraction - a float in the range (0,1) (default = 0.5)
#
# Output from split:
# trainingdf - a dataframe consisting of a random sample of (1-testfraction) of the rows in df
# testdf     - a dataframe consisting of the rows in df that are not included in trainingdf
#
# Hint: You may use np.random.permutation(df.index) to get a permuted list of indexes where a 
#       prefix corresponds to the test instances, and the suffix to the training instances 

def split(df, testfraction = 0.5):
    
    # Generate a random permutation of the DataFrame indices
    random_indices = np.random.permutation(df.index)
    test_size = int(testfraction * len(df))

    # Split the indices into test and training subsets
    train_indices = random_indices[test_size:]
    test_indices = random_indices[:test_size]

    # Select the corresponding rows for each subset
    test_df = df.loc[test_indices].copy()
    training_df = df.loc[train_indices].copy()

    return training_df, test_df

In [17]:
# Test your code  (leave this part unchanged)

glass_df = pd.read_csv("glass.csv")

glass_train, glass_test = split(glass_df,testfraction=0.25)

print("Training IDs:\n{}".format(glass_train["ID"].values))

print("\nTest IDs:\n{}".format(glass_test["ID"].values))

print("\nOverlap: {}".format(set(glass_train["ID"]).intersection(set(glass_test["ID"]))))

Training IDs:
[125 143 141  38   8 159  84  32 185 158  40 212  86 110 114  59 119  31
   5  64  53  47  25 189 135 122 153 191  45 184 172 108 137 179 199 136
  18  72  80  15 145  71  48 126  52 127  87 115 165  43 171  42 120  78
 116 183 101 186 152  17 111 187 107 196  83   4  22  68  90 192  79  88
 154  12  99  16 123 134 109  81 162 128 138   9  63 163 102  92  39 193
  46   6  66  28 180 198 147 211   3  97 161  44  75  73 160  62  26 167
  20 194 205  70 181  94  29  96  34 178  36  30  54 149 133 203 129  85
  11  61 100 103  57 173 190 201 200 132   1 188  95 214  65 144  89 155
 213  91 166 175 121  49  21  58 177 146 164  60 151 118  33 157  67]

Test IDs:
[ 56 156 148 112  93 209 139  74 142   7 140 202  50 176  19 174 208 206
  51  69  41 170 169 168  24 204  14 182  13 130 105  55 106 197 150 207
 210  37  98 124 113  23  35 117  76  82   2 131  77  27 195  10 104]

Overlap: set()

### Comment on assumptions, things that do not work properly, etc.

## 1g. Calculate accuracy of a set of predictions

In [18]:
# Insert the function accuracy below
#
# Input to accuracy:
# df            - a dataframe with class labels as column names and each row corresponding to
#                 a prediction with estimated probabilities for each class
# correctlabels - an array (or list) of the correct class label for each prediction
#                 (the number of correct labels must equal the number of rows in df)
#
# Output from accuracy:
# accuracy - the fraction of cases for which the predicted class label coincides with the correct label
#
# Hint: In case the label receiving the highest probability is not unique, you may
#       resolve that by picking the first (as ordered by the column names) or 
#       by randomly selecting one of the labels with highest probaility.

def accuracy(df, correctlabels):
    div = len(correctlabels)

    df['Max'] = df.idxmax(axis=1)
    # display('df with max', df)
    # now count how many times
    count = 0
    for i in range(div):
        val = correctlabels[i]
        if val == df['Max'][i]:
            count+=1
    return count / div

In [19]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})
display("predictions",predictions)

'predictions'

      A     B     C
0  0.50  0.50  0.00
1  0.50  0.25  0.25
2  0.50  0.25  0.25
3  0.25  0.50  0.25
4  0.25  0.25  0.50

In [20]:
correctlabels = ["B","A","B","B","C"]

print("Accuracy: {}".format(accuracy(predictions,correctlabels))) # Note that depending on how ties are resolved the accuracy may be 0.6 or 0.8

Accuracy: 0.6

### Comment on assumptions, things that do not work properly, etc.

Decided to just select one with idxmax() in the case >=2 have the same max value

## 2a. Divide a dataset into a number of folds

In [21]:
# Insert the function folds below
#
# Input to folds:
# df      - a dataframe
# nofolds - an integer greater than 1 (default = 10)
#
# Output from folds:
# folds - a list (of length = nofolds) dataframes consisting of random non-overlapping, 
#         approximately equal-sized subsets of the rows in df
#
# Hint: You may use np.random.permutation(df.index) to get a permuted list of indexes from which a 
#       prefix corresponds to the test instances, and the suffix to the training instances 


# what is a fold? : A fold is simply a subset of your dataset. Useful when using a dataset as both training and test data. 
# you can use this method k times to get different new subset to train and test on. 

def folds(df, nofolds) :
    folds = [] # where the folds will go later

    shuffled_indexes = np.random.permutation(df.index) # random premutation creating a shuffled df
    foldslist = np.array_split(shuffled_indexes, nofolds) # split the shuffled indexes into equal sized arrays

    for index in foldslist : 
        fold_df = df.loc[index] # select rows belonging to this index
        fold_df = fold_df.reset_index(drop=True) # reset for next index
        folds.append(fold_df) # append this df to list of folds
    
    return folds

In [22]:
# Test your code  (leave this part unchanged)

glass_df = pd.read_csv("glass.csv")

glass_folds = folds(glass_df,nofolds=5)

fold_sizes = [len(f) for f in glass_folds]

print("Fold sizes:{}\nTotal no. instances: {}".format(fold_sizes,sum(fold_sizes)))

Fold sizes:[43, 43, 43, 43, 42]
Total no. instances: 214

### Comment on assumptions, things that do not work properly, etc.

## 2b. Calculate Brier score of a set of predictions

In [23]:
# Insert the function brier_score below
#
# Input to brier_score:
# df            - a dataframe with class labels as column names and each row corresponding to
#                 a prediction with estimated probabilities for each class
# correctlabels - an array (or list) of the correct class label for each prediction
#                 (the number of correct labels must equal the number of rows in df)
#
# Output from brier_score:
# brier_score - the average square error of the predicted probabilties 
#
# Hint: Compare each predicted vector to a vector for each correct label, which is all zeros except 
#       for at the index of the correct class. The index can be found using np.where(df.columns==l)[0] 
#       where l is the correct label.

def brier_score(df, correctlabels):

    # Check that the number of correct labels matches the number of rows in the dataframe
    if len(correctlabels) != len(df):
        raise ValueError("Each row in the dataframe must have one corresponding correct label!")

    tot_error = 0

    # Iterate through each prediction and its corresponding true label
    for i, label in enumerate(correctlabels):
        correct_vector = np.zeros(len(df.columns))
        correct_index = np.where(df.columns == label)[0][0]
        correct_vector[correct_index] = 1.0
        
        predicted_vector = df.iloc[i].values
        # Compute squared error between predicted and true probability vectors
        tot_error += np.sum((predicted_vector - correct_vector) ** 2)
    
    return tot_error / len(df)

In [24]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})

correctlabels = ["B","A","B","B","C"]

print("Brier score: {}".format(brier_score(predictions,correctlabels)))

Brier score: 0.5

### Comment on assumptions, things that do not work properly, etc.

## 2c. Calculate AUC of a set of predictions

In [25]:
# Insert the function auc below
#
# Input to auc:
# df            - a dataframe with class labels as column names and each row corresponding to
#                 a prediction with estimated probabilities for each class
# correctlabels - an array (or list) of the correct class label for each prediction
#                 (the number of correct labels must equal the number of rows in df)
#
# Output from auc:
# auc - the weighted area under ROC curve
#
# Hint 1: Calculate the binary AUC first for each class label c, i.e., treating the
#         predicted probability of this class for each instance as a score; the true positives
#         are the ones belonging to class c and the false positives the rest
#
# Hint 2: When calculating the binary AUC, first find the scores of the true positives and then
#         the scores of the true negatives
#
# Hint 3: You may use a dictionary with a mapping from each score to an array of two numbers; 
#         the number of true positives with this score and the number of true negatives with this score
#
# Hint 4: Created a (reversely) sorted (on the scores) list of pairs from the dictionary and
#         iterate over this to additively calculate the AUC
#
# Hint 5: For each pair in the above list, there are three cases to consider; the no. of false positives
#         is zero, the no. of true positives is zero, and both are non-zero
#
# Hint 6: Calculate the weighted AUC by summing the individual AUCs weighted by the relative
#         frequency of each class (as estimated from the correct labels)

def auc(df, correctlabels):
    cols = df.columns.values

    total_auc = 0
    for c in cols:
        # calculate binary auc for each class label
        df_scores = df[c]

        # scores of true positives, scores of false postiive, using dictionary
        scores = {}
        for i in range(len(df_scores)):
            i_score = df_scores[i]
            i_true = correctlabels[i]
            if i_score not in scores:
                scores[i_score] = [0,0] 
            if i_true == c: # true positive
                scores[i_score][0] +=1
            else: # false positive
                scores[i_score][1] +=1

        # reverse sorted on the scores and iterate additively to calculate AUC
        reverse_scores = sorted(scores.items(), key=lambda item: item[0], reverse=True)
        tp = np.array([v[0] for _, v in reverse_scores])
        fp = np.array([v[1] for _, v in reverse_scores])

        Tot_tp = tp.sum()
        Tot_fp = fp.sum()

        # based on lecture slides
        temp_auc = 0.0
        Cov_tp = 0.0

        for i in range(len(tp)):
            if fp[i] == 0: # num of false positives is 0
                Cov_tp += tp[i]
            elif tp[i] == 0: # num of true positives is 0
                temp_auc += (Cov_tp / Tot_tp) * (fp[i] / Tot_fp)
            else: # both non-zero
                temp_auc += (Cov_tp / Tot_tp) * (fp[i] / Tot_fp) + (tp[i] / Tot_tp) * (fp[i] / Tot_fp) / 2
                Cov_tp += tp[i]
        weight = Tot_tp / df.shape[0]
        # print(f"weight of {c}, {weight}")
        total_auc += temp_auc * weight
    return total_auc

In [26]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.9,0.9,0.6,0.55],"B":[0.1,0.1,0.4,0.45]})

correctlabels = ["A","B","B","A"]

print("AUC: {}".format(auc(predictions,correctlabels)))

AUC: 0.375

In [27]:
predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})

correctlabels = ["B","A","B","B","C"]

print("AUC: {}".format(auc(predictions,correctlabels)))

AUC: 0.8499999999999999

### Comment on assumptions, things that do not work properly, etc.

Uses false positives instead of true negatives in the scores dictionary